/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
VBox {
	-fx-background-color: deepskyblue;
	-fx-font-family: "Lucida Console";
	-fx-spacing: 12;
	-fx-alignment: center;
	
	
}

ChoiceBox {
	-fx-background-color: "white";
	
	
}
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }
.choice-box .menu-item:focused { -fx-background-color: orange; }

GridPane {
	-fx-background-color: deepskyblue;
	-fx-font-family: "Lucida Console";
	-fx-padding: 10, 10, 10, 10;
	-fx-vgap: 8;
	-fx-hgap: 10;
	-fx-alignment: center;
}
HBox {
	-fx-alignment: center;
}

#scene {
	-fx-background-color: "deepskyblue";

}


